<div class="container">
  <div class="panel">
    <h1><%= @question.title %></h1>
    <p><%= @question.details %></p>
  </div>
  <h3>
    <% if @answer.solution != "" %>
      <%= @question.answers.length%>
    <% else %>
      <%= @question.answers.length-1%>
    <% end%>
    Answers
  </h3>
  <% @question.answers.each do |answer|%>
    <% if answer.solution != ""%>
      <div class="panel">
        <p><%=answer.solution%></p>
      </div>
    <%else%>
      <script>location.hash = '#error'</script>
    <%end%>
  <% end %>
  <h3>Your answer</h3>
  <div id="error" class="panel">
    <%= render "layouts/errors", :object => @answer %>
    <%= render "answers/form"%>
  </div>
</div>

